<!DOCTYPE html>
<html>    
  <head>      
    <title>{{title}}</title>   
    {{> styles }}
  </head>
    
  <body>
    {{> header }}
    <div class="container mt-4">
      {{> _msg }}
      {{{body}}}
    </div>
	{{> scripts }}      
  </body>
</html>