<div class="card">
	<div class="card-header">
		<div class="card-menu">
			<div class="card-title">
				<div class="cat">
					<h4>{{title}}</h4>
					<a href="/categorias">
						<button type="button" class="btn btn-primary">Lista categorias</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form action="" method="post">
			<div class="form-group">
				<div class="col-md-12">
					<label for="cat_nome">Nome</label>
					<input type="text" name="cat_nome" class="form-control">
				</div>
			</div>
		</form>
	</div>
</div>