<div class="card mt-4">
	<div class="card-header">
		<div class="card-menu">
			<div class="card-title">
				<div class="cat">
					<h4>{{title}}</h4>
					<a href="/categorias/add">
						<button type="button" class="btn btn-success">Nova categoria</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		{{#each categorias}}
			<div>
				<h3>{{nome}}</h3>
			</div>
		{{else}}
			<h4>Nenhuma categoria cadastrada</h4>
		{{/each}}	
	</div>
</div>