{{#each erros}}
	<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="card">
    <div class="card-header">
        <div class="card-title">
           <div class="cat">
                <h4>{{title}}</h4>
                <a href="/clientes">
                    <button type="button" class="btn btn-primary" accesskey="a">Lista (Alt+a)</button></a>
           </div>
        </div>
    </div>
    <div class="card-body">
        
        <form action="/clientes/novo" method="post">
           
            <div class="row">                
                                
                <div class="col-md-3 col-sm-12 form-check ml-3">
                  <input class="form-check-input" type="radio" name="cli_tipo" id="cli_tipo1" value="pf" checked>
                  <label class="form-check-label" for="cli_tipo">
                    Pessoa Fisica
                  </label>
                </div>
                <div class="col-md-3 col-sm-12 form-check ml-3">
                  <input class="form-check-input" type="radio" name="cli_tipo" id="cli_tipo2" value="pj">
                  <label class="form-check-label" for="exampleRadios2">
                    Pessoa Juridica
                  </label>
                </div>
                
                <div class="col-md-5 col-sm-12">                    
                    <label for="cli_status">Status</label>
                    <select name="cli_status" class="form-control">
                        <option value="ativo" selected>Ativo</option>
                        <option value="inativo">Inativo</option>
                        <option value="pendente">Pendente</option>
                    </select>
                </div>
                
                <div class="col-md-12">
                    <label for="cli_nome">Nome</label>
                    <input type="text" name="cli_nome" autofocus class="form-control">
                </div>                
                  
                <div class="col-md-6 col-sm-12">
                    <label for="cli_cpfOuCnpj">CPF ou CNPJ</label>
                    <input type="text" name="cli_cpfOuCnpj" class="form-control">
                </div>
                <!--
                <div class="col-md-6 col-sm-12" id="cli_cnpj" style="display: none">
                    <label for="cli_cnpj">CNPJ</label>
                    <input type="text" name="cli_cnpj" class="form-control" onkeypress="$(this).mask('00.000-000/0000-00')">                    
                </div>
                -->

                <div class="col-md-12">
                    <label for="cli_email">Email</label>
                    <input type="email" name="cli_email" class="form-control">
                </div>                
             
           
                <div class="col-md-6 col-sm-12">
                    <label for="cli_fone">Telefone</label>
                    <input type="text" name="cli_fone" class="form-control" onkeypress="$(this).mask('(00)0 0000 - 0000')">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="cli_celular">Celular</label>
                    <input type="text" name="cli_celular" class="form-control" onkeypress="$(this).mask('(00)0 0000 - 0000')">
                </div>
          
                <div class="col-md-3 col-sm-12">
                    <label for="cli_cep">CEP</label>
                    <input type="text" name="cli_cep" class="form-control" onkeypress="$(this).mask('00.000-000')">
                </div>
                <div class="col-md-9 col-sm-12">
                     <label for="cli_rua">Rua</label>
                    <input type="text" name="cli_rua" class="form-control">
                </div>    
           
                <div class="col-md-4 col-sm-12">
                    <label for="cli_complemento">Complemento</label>
                    <input type="text" name="cli_complemento" class="form-control">
                </div>               
                <div class="col-md-2 col-sm-12">
                    <label for="cli_numero">Número</label>
                    <input type="text" name="cli_numero" class="form-control">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="cli_bairro">Bairro</label>
                    <input type="text" name="cli_bairro" class="form-control">
                </div>
          
                <div class="col-md-8 col-sm-12">
                    <label for="cli_cidade">Cidade</label>
                    <input type="text" name="cli_cidade" class="form-control">
                </div>
                <div class="col-md-4 col-sm-12">
                    <label for="cli_estado">Estado</label>
                    <input type="text" name="cli_estado" class="form-control">
                </div>
            
                <div class="col mt-4">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Salvar"> 
                    </div>
                </div>
            </div>
                        
        </form>
        
    </div>
</div>